#root {
  margin: 0 auto;
  text-align: center;
  /* background-color: rgb(255, 245, 254); */
  background-color: rgb(255, 249, 240);
  position: absolute;
  width: 100%;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

